
{% for order in orders %}
<div class="order_wrapper">
    <h3>Order №{{order.id}}, status: <span class="order_status">{{order.status_id}}</span></h3>
    <form action="" method="post">
        <select name="status">
            {% for status in statuses %}
            <option {% if status.id == order.status_id %} selected {% endif %}>{{status.id}}. {{status.status}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary order__status_change" type="submit" data-id="{{order.id}}">Change order status</button>
    </form>
    <div class="row table_row">
        <div class="col-8 table_column">Product</div>
        <div class="col-1 table_column">Quantity</div>
        <div class="col-1 table_column">Price</div>
        <div class="col-1 table_column">Total</div>
        <div class="col-1 table_column"></div>
    </div>

    {% for product in order.products %}
        <div class="row table_row {% if product.deleted %}table_row_deleted{% endif %}">
            <div class="col-8 table_column">{{product.name}}</div>
            <div class="col-1 table_column">{{product.quantity}}</div>
            <div class="col-1 table_column">{{product.price}}</div>
            <div class="col-1 table_column">{{product.quantity * product.price}}</div>
            <div class="col-1 table_column">
                <button class="btn btn-primary order__product_{% if product.deleted %}retrieve{% else %}remove{% endif %}"
                        data-id="{{product.id}}">
                    {% if product.deleted %}Retrieve{% else %}Remove{% endif %}
                </button>
            </div>
        </div>
    {% endfor %}

</div>
{% endfor %}

